@import url("https://fonts.googleapis.com/css2?family=Orelega+One&display=swap");

:root {
  /* FONTS */
  --font-one: "Orelega One", cursive;

  /*  COLORS */
  --background: #e8f3e1;
  --border: #42ae78;
  --input-color: #f9faee;
  --text-color: #3d3729;
}

* {
  font-family: var(--font-one);
}

body {
  height: auto;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
}
#inputContainer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
#inputDirection {
  font-size: 15px;
  color: var(--text-color);
}
#secondForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

input,
textarea,
button {
  border: 2px solid var(--border);
}

main {
  padding: 60px;
  display: flex;
  flex-direction: row;
  gap: 150px;
  justify-content: center;
  align-items: self-end;
}

header {
  display: flex;
  justify-content: center;
  margin: none;
  outline: 0;
}

#titulo {
  flex-grow: 1;
  max-width: 700px;
  padding-top: 20px;
}

h1 {
  font-family: var(--font-one);
  font-weight: 550;
  font-size: 70px;
  text-align: center;
  color: var(--border);
}
#imageBorder {
  width: 100%;
  position: absolute;
  left: 0%;
}

#msg {
  margin-top: 3%;
  outline: #41ba7e;
  color: var(--text-color);
  background-color: var(--input-color);
  border-radius: 10px;
  width: 400px;
  height: 170px;
  font-size: 15px;
  overflow-y: hidden;
  resize: none;
  padding-left: 1%;
}

#decode-msg {
  margin-top: 11.5%;
  outline: var(--border);
  color: var(--text-color);
  background-color: var(--input-color);
  border-radius: 10px;
  width: 400px;
  height: 170px;
  font-size: 15px;
  overflow-y: hidden;
  resize: none;
  padding-left: 1%;
}

#offset {
  background-color: var(--input-color);
  margin-left: 3%;
  text-align: center;
  font-size: large;
  width: 15%;
  border-radius: 7px;
  color: var(--text-color);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button {
  background-color: var(--border);
  border: 2px solid var(--border);
  border-radius: 7px;
  cursor: pointer;
  color: var(--input-color);
  font-family: var(--font-one);
  font-size: 20px;
  font-weight: lighter;
  padding: 2% 10%;
  margin-top: 3%;
}
#copyText {
  margin-top: 0px;
}

.button:hover {
  background-color: var(--background);
  color: var(--border);
  box-shadow: var(--border) 1px 1px 0;
}

.button:active {
  position: relative;
  top: 1px;
}
#buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer {
  padding-top: 3%;
  text-align: center;
  font-size: 15px;
  font-family: var(--font-one);
  color: var(--border);
}
@media (max-width: 930px) {
  main {
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
  }
  #decode-msg,
  #msg {
    width: 60vw;
    height: 15vh;
    font-size: 20px;
  }
  #inputDirection,
  #offset {
    font-size: 20px;
  }
}
